<form action="/comments" method="POST">
  <%= auth_token %>
  <input type='hidden' name="comment[commentable_id]" value="<%= user.id %>">
  <input type='hidden' name="comment[commentable_type]" value="User">
  <label>
    Comment <br>
    <textarea name="comment[body]"></textarea>
  </label>

  <input type="submit" value="Comment">
</form>
